.board-wrapper {
    display: flex;
    width: 100%;
    gap: 16px;
    margin-top: 20px;
}

.task-col {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 20%;
}

.task-col>ul {
    /* background-color: rgb(255, 0, 0); */
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-height: 50vw;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.initials-container {
    display: flex;
    justify-content: space-between;
}

.task-box {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px #00000059;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.taskgroup-header {
    color: var(--color-board-taskgroup);
}

h3, h4 {
    color: var(--color-primary);
}

.task-category {
    width: fit-content;
    padding: 8px 15px;
    border-radius: 8px;
    color: white;
}

.technical-task {
    background-color: var(--color-technical-task);
}

.user-story {
    background-color: var(--color-user-story);
}

.task-descr {
    color: var(--color-form-box);
}

#todo-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 20px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: rgba(117, 117, 117, 0.466);
    max-width: 50%;
}

.form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.priority {
    display: flex;
    gap: 16px;
    min-inline-size: auto;
}

.priority input {
    position: absolute;
    opacity: 0;
}

.priority label {
    /* dein Button-Styling */
    background-color: grey;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    width: 115px;
    border-radius: 8px;
}

.priority label:has(input:checked) img {
    filter: brightness(0) invert(1);
}

.priority-high:has(input:checked) {
    background-color: red;
    color: white;
}

.priority-medium:has(input:checked) {
    background-color: orange;
    color: white;
}

.priority-low:has(input:checked) {
    background-color: green;
    color: white;
}

.subtask-progress-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    text-align: center;
}

.progress-bar-outer {
    background-color: rgb(102, 102, 102);
    width: 52%;
    height: 8px;
    border-radius: 8px;
}

.progress-bar {
    background-color: rgb(0, 153, 255);
    height: 8px;
    border-radius: 8px;
}