.test {
    background-color: lightblue;
    height: 50px;
    width: 50px;
}

a {
    color: #007CEE;
}


.section-main-content {
    display: flex;
}

.separator {
    border-bottom: solid rgb(218, 218, 218) 1px;
}

.contact-list-container {
    border-right: solid black 1px;
    /* remove this line */

    height: calc(100vh - 80px);
    min-width: 424px;
    width: 424px;
    overflow-y: auto;
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 36px 0 36px;
}

.button-add-new-contact {
    width: 100%;
}

.add-new-contact-box {
    height: 32px;
    width: 32px;
}

.add-new-contact-icon {
    height: 100%;
    width: 100%;
}

.contact-list {
    height: 100%;
    width: 100%;
}

.contact-list-item {
    display: flex;
    flex-direction: column;
    border: unset;
    background-color: var(--color-bg-main);
    width: 100%;
    gap: 20px;
    padding: 20px 0
}

.contact-list-item:hover {
    background-color:  rgb(42, 54, 71);
    color: white;
    cursor: pointer;
}

.contact-list-name {
    text-align: left;
}

.contact-list-email {
    width: fit-content;
    text-align: left;
}

.contact-content {
    display: flex;
    gap: 20px;
}

.initials-box {
    min-height: 42px;
    min-width: 42px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
}

.contact-initials {
    border: solid white 2px;
    color: white;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.container-contact-details {
    height: 100%;
    width: calc(100% - 38px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
}

.contact-details-header {
    height: 73px;
    /* width: 569px; */
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-details-title {
    height: 100%;
    width: 274px;
    font-size: 61px;
    font-weight: 700;
}

.contact-details-slogan {
    width: 235px;
    font-size: 27px;
    font-weight: 40;
    text-align: end;
}

.contact-header-separator {
    background-color: #29ABE2;
    height: 59px;
    width: 3px;
    border-radius: 3px;
}

.contact-details-container {
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

.contact-details-item {
    display: flex;
    align-items: center;
}

.contact-details-name {
    padding-left: 50px;
}

.contact-details-name-text {
    font-size: 47px;
}

.contact-details-actions {
    display: flex;
    gap: 8px;
}

.contact-details-actions button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.contact-details-actions img {
    height: 24px;
    width: 24px;
    margin-right: 4px;
}

.contact-details-info {
    height: 74px;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.contact-details-connect-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contact-details-connect {
    height: 53px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-details-connect span {
    font-weight: bold;
}

#contact_details_phone {
    font-weight: inherit;
}



/* background color removed */
.contact-details-initials {
    background-color: rgb(255, 132, 0);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 3px;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
    font-size: 47px;
    color: white;
    font-weight: 500;
}







.dialog-container {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    justify-items: center;
    align-content: center;
}

.dialog {
    background-color: white;
    height: 600px;
    width: 800px;
    display: flex;
    border-radius: 20px;
}

.dialog-topic {
    background-color: darkblue;
    color: white;
    height: 100%;
    min-width: 200px;
    border-radius: 20px 0 0 20px;
}

.dialog-content {
    background-color: red;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
}

.dialog-input {
    height: 30px;
    border-radius: 5px;
    filter: none;
    border: solid black 1px;
}