/* Header */

.header {
  position: sticky;
  top: 0;
  z-index: 100;

  height: 96px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 32px 0 96px;

  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.header-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
}

.header-logo-mobile {
  display: none;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.help-button {
  border: none;
  background: transparent;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.help-button img {
  width: 30px;
  height: 30px;
}

.user-avatar {
  width: 56px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 3px solid var(--color-primary);
  border-radius: 50%;

  background-color: white;

  font-size: 16px;

  font-weight: 700;
  color: var(--color-accent);

  cursor: pointer;
}

/* End Header */

/* User Menu */

.user-menu-wrapper {
  position: relative;
}

.user-menu {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 150px;
  border-radius: 20px 0 20px 20px;
  background-color: var(--color-primary);
  box-shadow: 0 0 4px rgb(0 0 0 / 40%);
}

.user-menu.open {
  display: flex;
}

.user-menu-item {
  display: flex;
  align-items: center;
  width: 130px;
  height: 46px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: #cdcdcd;
  text-decoration: none;
  white-space: nowrap;
  transition: 100ms;
}

.user-menu-item:hover {
  border-radius: 8px;
  background-color: var(--color-nav-active);
}

button.user-menu-item {
  border: none;
  background: transparent;
  font: inherit;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

.user-menu-item--help {
  display: none;
}

/* End User Menu */

/* Responsive */

@media screen and (max-width: 1024px) {
  .header {
    padding: 0 16px;
  }

  .header-title {
    display: none;
  }

  .header-logo-mobile {
    display: block;
    width: 32px;
    height: auto;
  }

  .help-button {
    display: none;
  }

  .user-menu-item--help {
    display: flex;
  }

  .user-menu {
    gap: 0;
  }

  .user-avatar {
    width: 40px;
    height: 40px;
  }
}

/* End Responsive */
